<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadRecall</title>
    <link rel="stylesheet" href="/public/pages/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>&#xf5fc;</text></svg>">

  </head>
  <body class="page">
    <header class="header">
      <h1 class="header__title"><a href="/">ReadRecall</a></h1>
      <p class="header__about">
        ReadRecall is a personal book tracking and note-taking platform inspired
        by Derek Sivers' website. It's designed for avid readers who want to
        retain and revisit key insights from the books they've read. Users can
        log non-fiction books, add detailed notes, rate their reads, and record
        completion dates. The platform allows for easy sorting by rating,
        recency, and title, making it simple to revisit and reflect on your
        literary journey. ReadRecall turns your reading habit into a valuable,
        accessible knowledge base, ensuring that the most impactful ideas from
        each book stay with you long after you've turned the last page.
      </p>
    </header>
