.book {
  margin-bottom: 35px;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.book__book-cover {
  width: 125px;
  max-height: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.book__book-title {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  font-size: clamp(24px, 5vw, 34px);
  font-weight: 500;
  line-height: 1.2;
}

.book__book-link {
  color: #0a0b17;

  &:visited {
    color: #6f4370;
  }
}

.book__meta-info {
  font-family: "Playfair Display", serif;
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 400;
  font-style: italic;
  color: #666;
}

.book__overview {
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
}

.book__links {
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
}

.book__bttns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.book__edit-bttn {
  padding: 12px 24px;
  background-color: #e6f3ff;
  color: #0066cc;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
  border-radius: 10px;
  border: 1px solid #b3d9ff;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-height: min-content;
  display: inline-block;
  transition: border-radius 0.35s ease-in-out,
    background-color 0.35s ease-in-out;

  &:hover {
    background-color: #d9ecff;
    border-radius: 0;
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.book__delete-bttn {
  padding: 12px 24px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff0f0;
  color: #cc0000;
  border: 1px solid #ffcccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-height: min-content;
  display: inline-block;
  transition: border-radius 0.35s ease-in-out,
    background-color 0.35s ease-in-out;

  &:hover {
    background-color: #ffe0e0;
    border-radius: 0;
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}
