.book {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  margin-bottom: 35px;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.book__book-cover {
  width: 125px;
  max-height: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.book__book-title {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  font-size: clamp(24px, 5vw, 34px);
  font-weight: 500;
  line-height: 1.2;
}

.book__meta-info {
  font-family: "Playfair Display", serif;
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 400;
  font-style: italic;
  color: #666;
}

.book__overview {
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
}

.book__links {
  font-family: "Lato", sans-serif;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  line-height: 1.2;
}
