<%- include("partials/header.ejs") %>
<img
  class="book__book-cover"
  src="https://covers.openlibrary.org/b/isbn/0806541229-L.jpg"
  alt="You Can Negotiate Anything book cover"
/>

<h2 class="book__book-title">You Can Negotiate Anything - by Herb Cohen</h2>

<p class="book__meta-info">ISBN: 0806541229</p>
<p class="book__meta-info">Date read: 2023-08-02</p>
<p class="book__meta-info">How strongly I recommend it: 10/10</p>

<p class="book__overview">
  Go to the <a href="#" class="book__links">Amazon page</a> for details and
  reviews.
</p>

<p class="book__overview">
  Everything is negotiable. Challenge authority. You have the power in any
  situation. This is how to realize it and use it. A must-read classic from 1980
  from a master negotiator. My notes here aren't enough because the little book
  is filled with so many memorable stories — examples of great day-to-day
  moments of negotiation that will stick in your head for when you need them. (I
  especially loved the one about the power of the prisoner in solitary
  confinement.) So go buy and read the book. I'm giving it a 10/10 rating even
  though the second half of the book loses steam, because the first half is so
  crucial.
</p>
<section class="notes">
  <div class="notes__heading">
    <h2 class="notes__title">My Notes</h2>
    <a href="#" class="notes__bttn">Add Note</a>
  </div>
  <ul class="notes__list">
    <li class="notes__list-item">
      <p class="notes__note">Hello World!</p>
    </li>
  </ul>
</section>
<%- include("partials/footer.ejs") %>
